extends ../shared/template

block content
  h1.inline Deku Farm OOP

  #controls.inline
    input#username(type='text', placeholder='Username')
    button#login Login

  .clear

  #dashboard
  #items

  .clear

  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
