@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  background-color: #40be4f;
  background: url(/img/bg.png) no-repeat center center fixed;
  background-size:cover;
  font-family: 'Source Sans Pro', sans-serif;
}

*:focus {
  outline:none;
}

#container {
  width:90%;
  margin:0 auto;
}

input {
  border-top:3px solid #eee;
  border-left:3px solid #eee;
  border-bottom:3px solid #e4e4e4;
  border-right:3px solid #d0d0d0;
  padding:5px;
  color:#333;
}

button#login {
  padding:5px 10px;
  background-color:#40be4f;
  color:#fff;
  border-right: 3px solid #4fea59;
  border-bottom: 3px solid #4dd64e;
  border-top: 3px solid #38a435;
  border-left: 3px solid #38a135;
}

button#login:hover {
  background-color:#35a13c;
  color:#fff;
  border-right: 3px solid #49e04c;
  border-bottom: 3px solid #4bc547;
  border-top: 3px solid #38a435;
  border-left: 3px solid #33902f;
}

button#login:active {
  background-color:#2e8d2f;
}



.clear {
  width:100%;
  clear:both;
}

.inline {
  display:inline-block;
}

h1.inline {
  color: #fff;
  margin: 20px 25px 0 0;
  text-shadow:0px 2px 0px #111;
  text-indent:-9999px;
  background:url(/img/logo.png) no-repeat;
  background-size: 100% auto;
  width: 250px;
  height:85px;
  float:left;
}


#controls.inline {
  float:left;
  margin-top:50px;
}

p.inline {
  font-size: 12px;
  margin-right:5px;
}

  #user-dashboard, #items-dashboard {
    padding:5px 10px 10px 10px;
    margin: 10px 0 0 0;
    color:#eee;
    margin-bottom:10px;
    background-color:#222;
    display:inline-block;
    float:left;
    //box-shadow:inset 0px 0px 6px #000;
    border-right:8px solid #111;
    border-bottom:8px solid #111;
    border-top:8px solid #333;
    border-left:8px solid #444;
  }

  #user-dashboard {
    width:60%;
  }

  #items {
    float:right;
    width:30%;
  }

  #items-dashboard {
    padding:0px 15px 10px 15px;
    float:right;
    margin: 10px 0 0 0;
    width:80%;

    .item-wrapper {
      float:left;
      display:inline-block;
      margin:0 5px 5px 0;

      p {
        font-size: 11px;
        display:inline-block;
        width:100%;
        margin-top:0;
      }
    }
    .item {
      width:50px;
      height:50px;
      background-size:cover;
      border-right: 3px solid #626262;
      border-bottom: 3px solid #626262;
      border-top: 3px solid #434343;
      border-left: 3px solid #4f4f4f;
      vertical-align: top;
    }

    input {
      width:50px;
      padding:0;
      font-size:11px;
    }
  }

  .on {
    border-right: 3px solid #4fea59 !important;
    border-bottom: 3px solid #4dd64e !important;
    border-top: 3px solid #38a435 !important;
    border-left: 3px solid #38a135 !important;
  }


  #user, #wood, #cash {
    display:inline-block;
    background-color:#444;
    padding:4px 10px;
    margin: 0 10px 0 0;
    font-size: 14px;
    border-right: 3px solid #626262;
    border-bottom: 3px solid #626262;
    border-top: 3px solid #434343;
    border-left: 3px solid #4f4f4f;
  }

  #user {
    font-size: 24px;
    font-weight: 700;
    color:#40be4f;
    background-color: #222;
    border:none;
    padding: 0px 10px 0px 0;
  }

  #user-dashboard {
    button {
      color: #fff;
      background-color:#40be4f;
      border:none;
      padding:5px 10px;

      margin: 10px 10px 0 0;
      border-right: 3px solid #4fea59;
      border-bottom: 3px solid #4dd64e;
      border-top: 3px solid #38a435;
      border-left: 3px solid #38a135;
    }

    button:hover{
      background-color:#35a13c;
      color:#fff;
      border-right: 3px solid #49e04c;
      border-bottom: 3px solid #4bc547;
      border-top: 3px solid #38a435;
      border-left: 3px solid #33902f;
    }

    button:active {
      background-color:#2e8d2f;
    }
  }


.tree {
  display:inline-block;
  margin:5px;
  background-color:#222;
  color:#fff;
  padding-bottom:5px;
  border-radius: 2px;
  border-right:3px solid #222;
  border-bottom:3px solid #111;
  border-top:3px solid #333;
  border-left:3px solid #444;
  box-shadow:0px 0px 10px 1px #111;

  .stats {
    font-size: 11px;
    padding:10px 5px 25px 5px;
    position:relative;

    .health {
      color:#7ed833;
    }

    .height p, .health p {
      margin:0;
      padding:0;
    }

    .controls {
      position:absolute;
      margin-top: 5px;
      bottom:0px;

    }

    .controls button.grow, .controls button.chop {
      float:none;
      font-size:12px;
      color:#333;
    }
  }
}

.tree > .tree-image {
  width:100px;
  height:100px;
  background-color:#333;
  border-radius:2px;
}

.seed > .tree-image {
  background-image:url(/img/seed.jpg);
}

.sapling > .tree-image{
  background-image:url(/img/sapling.jpg);
}

.treenager > .tree-image{
  background-image:url(/img/treenager.jpg);
}

.adult > .tree-image {
  background-image:url(/img/adult.jpg);
}

.chopped > .tree-image {
  background-image:url(/img/stump.jpg) !important;
}

.beanstalk > .tree-image {
  background-image:url(/img/beanstalk.jpg);
}

.dead > .tree-image{
  background-image:url(/img/dead.jpg);

  .tree {

  }
}


.tree.dead .stats .health{
  color:red !important;
}
