p.inline USER:
#user(data-id=user._id.toString())= user.username
p.inline LUMBER:
#wood #{user.wood} logs
p.inline CASH:
#cash $ #{user.cash}
.clear
button#plant Plant Seed
button#getforest Show Forest
form.inline
  input#sellamount(type='text', placeholder='# of logs to sell')
  button#sellwood Sell Lumber
