#house-upgrades
  p UPGRADES

  .clear

  p HOUSE SIZE
  .size-upgrade#treehouse
  .size-upgrade#mansion
  .size-upgrade#castle

  .clear

  p GUARDIANS
  .guard-upgrade
  .guard-upgrade
  .guard-upgrade
  .guard-upgrade
  .guard-upgrade
  .guard-upgrade
