.tree(data-id=tree._id.toString(), class=tree.classes)
  .tree-image
  .stats
    .height
      - if(!tree.isChopped)
        p #{(tree.height / 12).toFixed(1)} ft
      - if(tree.isChopped)
        p stump
    //- .health
    //-   - if(!tree.isChopped)
    //-     p= tree.isHealthy ? 'healthy' : 'plagued'
    //-   - if(tree.isChopped)
    //-     p chopped

    .controls
      if(tree.isGrowable)
        button.grow Grow
      if(tree.isChoppable)
        button.chop Chop
    .clear
