.item-wrapper
  p AUTOGROW
  #autogrow.item(data-type=item.type, style='background-image:url(#{item.image})')
  input#maxheight(type='text', name='maxHeight')
script(src='/js/es6/compiled/autogrow.js')
